.navMain {
    background-color: var(--color-active);
    display: flex;
    align-items: center;
    gap: 25px;
    color: #fff;
}

.navMain .logo {
    width: 115px;
    height: 115px;
}

.navMain .navMainItem {
    cursor: pointer;
    padding: 15px;
}

.navMain .navMainItem:hover,
.navMain .navMainItem.active {
    background-color: #fff;
    color: var(--color-active);

}